<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pe.edu.esan.estacionamientoesan" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/esan"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="Estacionamiento ESAN"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2Activity"
            android:label="Estacionamiento"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Formulario"
            android:label="Registro"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Olvido"
            android:label="@string/title_activity_olvido"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Correo"
            android:label="Correo"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Datos"
            android:label="Datos"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".Info"
            android:label="@string/title_activity_info" >
        </activity>
        <activity
            android:name=".Perfil"
            android:label="Perfil" >
        </activity>
    </application>

</manifest>
